@model LogicApplication.ViewModels.SaveSerieViewModel
@{
    ViewData["Title"] = "Detalles";
}

<body class="bg-primary">
<div class="row">
        <div class="bg-dark text-light">
            <h4>@Model.Name</h4>
        </div>

        <iframe width="560" height="540"
                src="https://www.youtube.com/embed/@Model.Enlace" frameborder="0" allowfullscreen>
        </iframe>
</div>
</body>

